    /*Specification*/


body {
	font-family: 'PT Sans', sans-serif;

} 

ul, li {
	display: block;
	padding: 0;
	margin: 0;	
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	color: #000;
}

h3 {
	font-weight: 400;
}

h2 {
	text-align: center;
}

.yellow {
	color: #fcdb00;
}





/*first screen*/


.header {
	background: #fcdb00;
	color: #010101;
	padding-top: 58px;
	padding-bottom: 107px;
}

.menu	{
	margin-top: 10px;
}

.menu__item {
	margin: 0 57px;
}


.menu__item a {
	font-size: 22px;
	font-weight: 700;
	color: #010101;
}

.menu__item a:hover {
	text-decoration: none;
}

.offer	{
	margin-top: 139px;
}

.offer__title {
	font-size: 32px;
	margin-bottom: 20px;
}

.offer__intro {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3em;
}

.offer__text {
	font-size: 16px;
	margin-top: 15px;
	color: #555555;
	width: 400px;
}

.icons__item {
	margin-right: 38px;
}

.icons__item a {
	color: #000;
	font-size: 42px;
}

.icons__item a:hover {
	text-decoration: none;
	color: #555555;
}

.ipad {
	display: block;
	margin: 67px auto 0;
}


/*Second display*/

.title {
	padding-top: 105px;
	padding-bottom: 91px;
	text-align: center;
}

.title__main {
	font-size: 32px;
}

.title__text {
	font-size: 20px;
	color: #313841;
}

.feature {
	margin-bottom: 87px;
}

.feature__icon {
	font-size: 50px;
	margin-right: 32px;
	color: #000;
}

.feature__block {

}

.feature__text {
	color: #898989;
}

/*third screen*/

.keep {
	background: #010101;
	color: #fff;
}

.form {
	text-align: center;
}

.form__input {
	background: #fff;
	font-size: 16px;
	font-family: "PT Sans";
	border-radius: 5px;
	width: 500px;
	height: 50px;
	padding: 15px;
	margin-right: 21px;
	padding-left: 32px;
	outline: none;
}

.form__btn {
	background-color: #fcdb00;
	border: 0;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	width: 126px;
	padding: 12px 0;
	cursor: pointer;
	outline: none;
}


/*footer screen*/

.footer {
	background: #000;
	padding: 50px 0 94px;
}

.credits {
	color: #ffffff;
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
	width: 184px;
}

/*media запросы*/
@media screen and (max-width: 992px) {
	.logo {
		display: block;
		margin: 0 auto;
	}
	.offer {
		text-align: center;
	}
	.offer__text {
		margin: 0 auto;
	}
	.offer__title {
		margin: 0 auto;
	}
	.icons {
		justify-content: center;
	}

}